<div class="editor-row">
  <div class="editor-option">
	<form>
	  <h6>Source Field <tip>Field containing the source of the transaction (source IP address, source device, etc.)</tip></h6>
	  <input bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.src_field" ng-change="set_refresh(true)">
	</form>
  </div>

  <div class="editor-option">
	<form>
	  <h6>Target Field <tip>Field containing the destination of the transactions (destination IP address, destination device, etc.)</tip></h6>
	  <input bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.dst_field" ng-change="set_refresh(true)">
	</form>
  </div>
  
  <div class="editor-option">
        <form>
          <h6>Length</h6>
          <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
        </form>
  </div>

  <div class="editor-option"  ng-show="panel.tmode == 'terms'">
	<form>
	  <h6>Exclude Terms(s) (comma separated) <tip>Field containing Terms to exclude (comma separated)</tip></h6>
	  <input array-join type="text" class="input-small" ng-model="panel.exclude" ng-change="set_refresh(true)">
	</form>
  </div>
</div>
