<div class="row-fluid">
    <h5>Details</h5>
    <div class="editor-option">
      <label class="small">Featured Bullet Stat</label>
      <select ng-change="set_refresh(true)" class="input-small" ng-model="panel.mode" ng-options="f for f in modes"></select>
    </div>
    <div class="editor-option">
      <label class="small">Field <tip>This field supports comma separated numeric values</tip></label>
        <input array-join ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-large" ng-model="panel.field">
    </div>
    <div class="editor-option">
      <label class="small">Unit</label>
        <input type="text" class="input-large" ng-model="panel.unit">
    </div>

    <h5>Columns</h5>
    <div class="editor-option" ng-repeat="stat in modes">
      <label class="small">{{stat}}</label><input type="checkbox" ng-model="panel.show[stat]" ng-checked="panel.show[stat]">
    </div>

    <h5>Formating</h5>
    <div class="editor-option">
      <label class="small">Format Description</label>
        <input type="text" class="input-large" ng-model="panel.format">
    </div>
</div>
